
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #3ca6ec;
  }
  nav {
    background-color: #3ca6ec;
    top: 0; 
    width: 100%;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
.menu-button{
    border: none;
    color: white !important;
    padding: 10PX 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 10px 5px 10px;
    
}


.submenu {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #085b92;
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f5f5f5e7;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sideNav-menu{
  width: 300px;
}

a:hover {
  color: #070111e8 !important;
}

.navButton{
  font-size:30px; 
  margin: 10px 10px 5px 15px;
}
a{
  cursor: pointer;
}
.tile-body{
  margin: 15px;
}

