<div #printAble>
    <mat-card>
        <div>
            <img cImg height="100" rounded src="assets/image/header.jpg" thumbnail width="100%" />
        </div>
        <mat-card-header>
            <mat-card-title>{{currentPatient.patientName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-personal-details [currentPatient]="currentPatient"></app-personal-details>
            <app-health-measures [healthMeasures]="healthMeasures" (healthMeasureFormGroupData)="healthMeasureFormGroupData($event)"></app-health-measures>
        </mat-card-content>
        <mat-card-content>
            <div *ngFor="let presc of newHistory?.prescriptions">
                <hr>
                <mat-card-header>
                    <mat-card-title class="presc-date-class">{{presc.prescDate}}</mat-card-title>
                </mat-card-header>
                <div *ngFor="let medicine of presc?.medicines">
                    <label class="madicine-name">{{medicine.name}} </label>
                    {{medicine.dose}} 
                    <label class="madicine-notes">{{medicine.notes}}</label>
                </div>
            </div>
        </mat-card-content>
        <div>
            <app-prescription-add (saveMedicineInNewPrescription)="saveAndPrintPresription($event)"
                (selctedMedicineEvent)="selctedMedicineEvent($event)"></app-prescription-add>
        </div>
    </mat-card>
</div>
<div>
    <button class="btn btn-info"  (click)="saveAndPrint()">Save & Print</button>
</div>