<div #printAble>
    <mat-card>
        <div>
            <img cImg height="100" rounded src="assets/image/header.jpg" thumbnail width="100%" />
        </div>
        <mat-card-header>
            <mat-card-title>{{currentPatient.patientName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div  style="float:left; width: 65%;">
                <app-personal-details [currentPatient]="currentPatient">
                    <label style="width: 100% !important;" for="healthCondition">Health Condition: </label>
                    <textarea type="text" cols="50" rows="4" [(ngModel)]="newHistory.healthDetails"></textarea>
                </app-personal-details>
            </div>
            <div style="float:right; width: 35%;">
                <app-health-measures [healthMeasures]="healthMeasures" [disabled]="false" (healthMeasureFormGroupData)="healthMeasureFormGroupData($event)">
                </app-health-measures>
            </div>
            
            
        </mat-card-content>

        <mat-card-content>
            <div *ngFor="let presc of newHistory?.prescriptions">
                <hr>
                <mat-card-header>
                    <mat-card-title class="presc-date-class">{{presc.prescDate}}</mat-card-title>
                </mat-card-header>
                <div *ngFor="let medicine of presc?.medicines">
                    <label class="madicine-name">{{medicine.name}} </label>
                    {{medicine.dose}} 
                    <label class="madicine-notes">{{medicine.notes}}</label>
                </div>
            </div>
        </mat-card-content>
        <div>
            <app-prescription-add (saveMedicineInNewPrescription)="saveAndPrintPresription($event)"
                (selctedMedicineEvent)="selctedMedicineEvent($event)"></app-prescription-add>
        </div>
    </mat-card>
</div>
<div>
    <button class="btn btn-info"  (click)="saveAndPrint()">Save & Print</button>
</div>