label {
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    width: 100px;
}
.madicine-name{
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    width: 250px !important;
}

.madicine-notes{
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(84, 10, 168);
    margin-left: 50px;
    width: 300px !important;
}