<!-- <mat-grid-list cols="5" rowHeight="60px">
    <mat-grid-tile [colspan]="3" [rowspan]="3">
        <table>
            <tr>
                <th>Name:</th>
                <td>{{currentPatient.patientName}}</td>
            </tr>
            <tr>
                <th>Age:</th>
                <td>{{currentPatient.age}}</td>
            </tr>
            <tr>
                <th>Gender:</th>
                <td>{{currentPatient.gender}}</td>
            </tr>
            <tr>
                <th>Address:</th>
                <td>123 Main St, Anytown, USA</td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td>{{currentPatient.phone}}</td>
            </tr>
        </table>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="3">
        <div style="max-height: 175px; max-width: 300px;">
            <div>
                <label>BP:</label>
                {{selectedHistory.healthDetails.bp}}
            </div>
            <div>
                <label>Weight</label>
                {{selectedHistory.healthDetails.weight}}
            </div>
            <div>
                <label>Any Allergy</label>
                {{selectedHistory.healthDetails.allergy}}
            </div>
            <div>
                <label>Other Information</label>
            </div>
            <mat-card style="min-width: 250px; min-height: 120px; max-height: 120px; max-width: 250px;">
                <mat-card-content>{{selectedHistory.healthDetails.other}}
                </mat-card-content>
            </mat-card>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<hr> -->